<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--=========================================================-->
    <!--Servlet Mapping-->

    <!--Login Attempt Servlet for processing a specific user login attempt-->
    <servlet>
        <servlet-name>LoginAttempt</servlet-name>
        <servlet-class>login.system.servlets.LoginAttempt</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginAttempt</servlet-name>
        <url-pattern>/LoginAttempt</url-pattern>
    </servlet-mapping>

    <!--Logout Attempt Servlet to handle a specific user logging out-->
    <servlet>
        <servlet-name>LogoutAttempt</servlet-name>
        <servlet-class>login.system.servlets.LogoutAttempt</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutAttempt</servlet-name>
        <url-pattern>/LogoutAttempt</url-pattern>
    </servlet-mapping>

    <!--Registration Attempt Servlet to handle a specific user registering-->
    <servlet>
        <servlet-name>RegistrationAttempt</servlet-name>
        <servlet-class>login.system.servlets.RegistrationAttempt</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistrationAttempt</servlet-name>
        <url-pattern>/RegistrationAttempt</url-pattern>
    </servlet-mapping>

    <!--ChangePassword Attempt Servlet to handle password changes when logged in-->
    <servlet>
        <servlet-name>ChangePasswordAttempt</servlet-name>
        <servlet-class>login.system.servlets.ChangePasswordAttempt</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangePasswordAttempt</servlet-name>
        <url-pattern>/ChangePasswordAttempt</url-pattern>
    </servlet-mapping>

    <!--AddComment Attempt Servlet to handle comment posting-->
    <servlet>
        <servlet-name>AddCommentAttempt</servlet-name>
        <servlet-class>login.system.servlets.AddCommentAttempt</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddCommentAttempt</servlet-name>
        <url-pattern>/AddCommentAttempt</url-pattern>
    </servlet-mapping>

    <!--View Article Servlet to handle individual article viewing-->
    <servlet>
        <servlet-name>ViewArticle</servlet-name>
        <servlet-class>login.system.servlets.ViewArticle</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewArticle</servlet-name>
        <url-pattern>/ViewArticle</url-pattern>
    </servlet-mapping>

    <!--Main Content Generation Servlet (to incorporate AJAX at a later stage)-->
    <servlet>
        <servlet-name>MainContentAccess</servlet-name>
        <servlet-class>login.system.servlets.MainContentAccess</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainContentAccess</servlet-name>
        <url-pattern>/MainContentAccess</url-pattern>
    </servlet-mapping>

    <!--Show Nested Comments servlet (to use AJAX)-->
    <servlet>
        <servlet-name>ShowNestedComments</servlet-name>
        <servlet-class>login.system.servlets.ShowNestedComments</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowNestedComments</servlet-name>
        <url-pattern>/ShowNestedComments</url-pattern>
    </servlet-mapping>

    <!--Delete Comments servlet-->
    <servlet>
        <servlet-name>DeleteComment</servlet-name>
        <servlet-class>login.system.servlets.DeleteComment</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteComment</servlet-name>
        <url-pattern>/DeleteComment</url-pattern>
    </servlet-mapping>

    <!--Get Top Level Comments Servlet for an individual article-->
    <servlet>
        <servlet-name>GetComments_IndividualArticle</servlet-name>
        <servlet-class>login.system.servlets.GetComments_IndividualArticle</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetComments_IndividualArticle</servlet-name>
        <url-pattern>/GetComments_IndividualArticle</url-pattern>
    </servlet-mapping>

    <!--Profile Page servlet for editing their details-->
    <servlet>
        <servlet-name>ProfilePage</servlet-name>
        <servlet-class>login.system.servlets.ProfilePageContent</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProfilePage</servlet-name>
        <url-pattern>/EditUserDetails</url-pattern>
    </servlet-mapping>

    <!--Delete Account servlet-->
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>login.system.servlets.DeleteAccount</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>

    <!--Edit Comment servlet-->
    <servlet>
        <servlet-name>EditComment</servlet-name>
        <servlet-class>login.system.servlets.EditComment</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditComment</servlet-name>
        <url-pattern>/EditComment</url-pattern>
    </servlet-mapping>

    <!--AddAnArticleAttempt servlet-->
    <servlet>
        <servlet-name>AddAnArticleAttempt</servlet-name>
        <servlet-class>login.system.servlets.AddAnArticleAttempt</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddAnArticleAttempt</servlet-name>
        <url-pattern>/AddAnArticleAttempt</url-pattern>
    </servlet-mapping>
    <!--Uploading profile picture-->
    <servlet>
        <servlet-name>UploadProfilePicture</servlet-name>
        <servlet-class>login.system.servlets.ProfilePicture</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadProfilePicture</servlet-name>
        <url-pattern>/UploadProfilePicture</url-pattern>
    </servlet-mapping>

    <!--Individual Article Viewer-->
    <servlet>
        <servlet-name>IndividualArticleViewer</servlet-name>
        <servlet-class>login.system.servlets.IndividualAuthorArticles</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IndividualArticleViewer</servlet-name>
        <url-pattern>/ViewIndividualArticles</url-pattern>
    </servlet-mapping>

    <!--Delete an Article Servlet-->
    <servlet>
        <servlet-name>DeleteAnArticle</servlet-name>
        <servlet-class>login.system.servlets.DeleteAnArticle</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteAnArticle</servlet-name>
        <url-pattern>/DeleteAnArticle</url-pattern>
    </servlet-mapping>

    <!--Edit an Article Servlet-->
    <servlet>
        <servlet-name>EditArticle</servlet-name>
        <servlet-class>login.system.servlets.EditAnArticle</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditArticle</servlet-name>
        <url-pattern>/EditArticle</url-pattern>
    </servlet-mapping>

    <!--Public Profile Page-->
    <servlet>
        <servlet-name>PublicProfilePageContent</servlet-name>
        <servlet-class>login.system.servlets.PublicProfilePageContent</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PublicProfilePageContent</servlet-name>
        <url-pattern>/PublicProfile</url-pattern>
    </servlet-mapping>

    <!--=======================================================================================================-->
    <!--JSP Mapping-->

    <!--Servlet mapping to simplify URL's of .jsp files-->
    <!--(1) login-->
    <servlet>
        <servlet-name>loginJSP</servlet-name>
        <jsp-file>/Login.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginJSP</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <!--(2) content-->
    <servlet>
        <servlet-name>contentJSP</servlet-name>
        <jsp-file>/Content.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>contentJSP</servlet-name>
        <url-pattern>/Content</url-pattern>
    </servlet-mapping>
    <!--(3) logout-->
    <servlet>
        <servlet-name>logoutJSP</servlet-name>
        <jsp-file>/Logout.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>logoutJSP</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <!--(4) RegistrationAttempt-->
    <servlet>
        <servlet-name>registrationJSP</servlet-name>
        <jsp-file>/Registration.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>registrationJSP</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <!--(5) ChangePasswordAttempt-->
    <servlet>
        <servlet-name>changePasswordJSP</servlet-name>
        <jsp-file>/ChangePassword.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>changePasswordJSP</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <!--(6) EditUserProfile-->
    <servlet>
        <servlet-name>editUserProfileJSP</servlet-name>
        <jsp-file>/EditUserProfile.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>editUserProfileJSP</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>

    <!--(7) AddCommentForm-->
    <servlet>
        <servlet-name>AddCommentFormJSP</servlet-name>
        <jsp-file>/AddCommentForm.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddCommentFormJSP</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>

    <!--(8) ViewArticlePage-->
    <servlet>
        <servlet-name>ViewArticlePageJSP</servlet-name>
        <jsp-file>/ViewArticlePage.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewArticlePageJSP</servlet-name>
        <url-pattern>/ViewArticlePage</url-pattern>
    </servlet-mapping>

    <!--(9) Homepage-->
    <servlet>
        <servlet-name>HomepageJSP</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomepageJSP</servlet-name>
        <url-pattern>/While_E_Coyote</url-pattern>
    </servlet-mapping>

    <!--(10) Profile Page-->
    <servlet>
        <servlet-name>ProfilePageJSP</servlet-name>
        <jsp-file>/ProfilePage.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProfilePageJSP</servlet-name>
        <url-pattern>/ProfilePage</url-pattern>
    </servlet-mapping>

    <!--(11) Public Profile Page-->
    <servlet>
        <servlet-name>PublicProfilePageJSP</servlet-name>
        <jsp-file>/PublicProfilePage.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>PublicProfilePageJSP</servlet-name>
        <url-pattern>/PublicProfilePage</url-pattern>
    </servlet-mapping>

</web-app>