/*CSS styling for loader used throughout the site to show progress/loading processes to the user*/

.loader {
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #00acc1;
    border-right: 7px solid #b2ebf2 ;
    border-bottom: 7px solid #ffd54f ;
    border-left: 7px solid #f9a825 ;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loaded1 {
    background-color: #00acc1;
    height: 1%;
    width: 10%;
}

#loaded2 {
    background-color: #b2ebf2;
    height: 1%;
    width: 10%;
}

#loaded3 {
    background-color: #ffd54f;
    height: 1%;
    width: 10%;
}

#loaded4 {
    background-color: #f9a825;
    height: 1%;
    width: 10%;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}